#receptionTable{
    background-color: #ffe6e6;
    margin-top: 100px;

}
.table td, .table th{
    padding:2px;
    height: 40px;
    text-align: center;
    vertical-align: bottom;
    padding: 7px 0;
}
.table td{
    padding: 20px 0;
    top: 50%;
}

.headNumber{
    background-color: #ffcccc;
    height: 20px;
}

.images{
    height: 100px;
}

#alphabet{
    display: flex;
}

.letter{
    margin-left: 5px;
    color: darkblue;
}

#alphabet{
    margin-top: 50px;
    position: absolute;
    left: 50%;
    margin-left: -100px;
}