@charset "ISO-8859-1";

#navBar{
    height: 200px;
    width: 50%;
}

#title{
    background-color: #ffcccc ;
    align-items: center;
    margin-bottom: 30px;
    padding-top: 10px;
}

#mainDiv{
    background-color: #ffe6e6;
    border: black;
    height: 250px;
    width: 500px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.inputCls{
    margin-left: 5px;
    height: 25px;
}

#authBtn{
    margin-top: 20px;
}

#addUserForm{
    background-color: #ffe6e6;
    border: black;
    width: 600px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.tableRow{
    height: 20px; 

}

.tableRow #userInput{
    width: 380px; 
    text-align: left;
}

.tableHeader{
    background-color: #ffcccc;
}
#addBtn{
    position: fixed;
    left: 50%;
    margin-left: -100px;
}

#addProductForm{
    background-color: #ffe6e6;
    border: black;
    width: 800px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#myChart{
    margin-top: 50px;
}

#myChart1{
    margin-top: 80px;
}


